/* @import '@fortawesome/fontawesome-free/css/all.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.nav-right i {
  font-size: 1.3rem;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25%;
}
.products-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
  flex-wrap: wrap;
  margin: 2rem;
}

.product-card{
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) */
}

.product-card img {
  border-radius: 15px;
  padding: .2rem;
  box-shadow: .5px 0 0 rgba(18, 18, 18, 0.3);
}

.product-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.cart-link {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease ease-in-out;
  background-color: #c1dcdc;
}

.product-link:hover .cart-link {
  opacity: 1;
}


.login, .signup{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.footer-item {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer i {
  font-size: 2rem;
  padding: 1.5rem;
  color: black;
}

footer {
  background-color: #c1dcdc;
  color: black;
}
